@model Club
@{
    ViewBag.Title = "Update/Delete Club";
}
@if (TempData["warning"] != null)
{
    <div class="alert alert-danger">@TempData["warning"]</div>
}
<div class="float-right">
    <a class="btn btn-danger" asp-action="Logout" asp-controller="Account">Log Out</a>
</div>
<form asp-action="Update" method="post">
    <input type="hidden" asp-for="ClubID" />
    @Html.Partial("ClubFormPartialView")
    <button class="btn btn-success col-12" type="submit">Save Edit</button>
</form>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ClubID" />
    <button class="btn btn-danger col-12" type="submit">Delete Club</button>
</form>
