@model ClubsViewModel

<table class="table table-sm table-borderless">
    <tr>
        <td><b>Total Clubs:</b></td>
        <td class="text-right">
            @Model.ClubQty
        </td>
    </tr>
    <tr>
        <td><b>Total Players:</b></td>
        <td class="text-right">
            @Model.PlayerQty
        </td>
    </tr>
</table>